.messages {
  display: flex;
  justify-content: center;
  color: #2d2d2e; /* Slightly lighter color for table rows */
  padding: 20px;

  .container {
    width: 100%;
    max-width: 1200px; /* Ensures responsiveness by limiting max width */
    padding: 40px 20px;
    background: rgba(125, 142, 243, 0.281); /* Glassmorphism background */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 16px;
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow-x: auto; /* Ensures it doesn’t break on smaller screens */

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 15px;
        text-align: left;
      }

      th {
        font-weight: bold;
        font-size: 16px;
        color: #2d2d2e; /* Slightly lighter color for table rows */
      }

      td {
        font-size: 14px;
        color: #2d2d2e; /* Slightly lighter color for table rows */

        button {
          background-color: #f96e2a; /* Gold color for the action button */
          padding: 10px 20px;
          color: white;
          font-weight: 500;
          border: none;
          font-size: 15px;
          cursor: pointer;
          border-radius: 5px;
          backdrop-filter: blur(5px); /* Glassmorphism effect with bluish tint */
          -webkit-backdrop-filter: blur(5px); /* For Safari */
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */

          &:hover {
            background-color: #333333; /* Dark gray on hover */
            color: white;
          }

          &:active {
            background-color: #f9b02a; /* Light blue on active */
            color: white;
          }
        }
      }

      tr {
        transition: background-color 0.3s ease;

        &.active {
          background-color: rgba(42, 56, 249, 0.2); /* Highlight color for unread messages */
        }

        &:hover {
          background-color: rgba(120, 108, 228, 0.2); /* Slight hover effect for rows */
        }

        &:active {
          background-color: rgba(43, 56, 232, 0.2); /* Light hover effect for active rows */
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      padding: 20px 10px;
    }

    table {
      th,
      td {
        font-size: 12px;
        padding: 10px;
      }
    }
  }

  @media (max-width: 480px) {
    .container {
      padding: 15px 5px;
    }

    .title button {
      padding: 10px 15px;
      font-size: 14px;
    }

    table {
      th,
      td {
        font-size: 11px;
        padding: 8px;
      }
    }
  }
}
